@{
    Layout = "~/Views/Shared/_AdminNavbar.cshtml";
}
<link rel="stylesheet" href="~/css/style.css" /> <!-- Inclure ton fichier CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<h2>Modifier Profil</h2>
 <form asp-controller="Auth" asp-action="EditProfileAdmin" method="post">
        @Html.AntiForgeryToken() <!-- Ajouter cette ligne -->

        <div class="form-group">
            <label for="Username">Nom d'utilisateur</label>
            <input type="text" id="Username" name="Username" class="form-control" value="@Model.Username" required />
        </div>
    <div class="form-group">
        <label for="Email">Adresse Email</label>
        <input type="email" id="Email" name="Email" class="form-control" value="@Model.Email" readonly />
    </div>
    <div class="form-group">
        <label>Nouveau mot de passe</label>
        <div class="input-group">
            <input type="password"
                   id="newPassword"
                   class="form-control"
                   name="newPassword">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary"
                        type="button"
                        onclick="togglePasswordVisibility('newPassword')">
                    <i class="bi bi-eye-slash"></i>
                </button>
            </div>
        </div>
    </div>
   
    <button type="submit" class="btn btn-primary" >Enregistrer les modifications</button>



 </form>
@section Scripts {
    <script>
        function togglePasswordVisibility(inputId) {
            const passwordInput = document.getElementById(inputId);
            const eyeIcon = passwordInput.nextElementSibling.querySelector('i');

            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                eyeIcon.classList.remove('bi-eye-slash');
                eyeIcon.classList.add('bi-eye');
            } else {
                passwordInput.type = 'password';
                eyeIcon.classList.remove('bi-eye');
                eyeIcon.classList.add('bi-eye-slash');
            }
        }
    </script>
}

<style>
    .form-control {
        height: calc(2.25rem + 2px); /* Hauteur par défaut Bootstrap */
    }

    .input-group-append {
        height: 100%;
    }

        .input-group-append button {
            height: 100%;
            width: 100%;
            padding: 5.5px 12px;
            border: 1px solid #ced4da;
            border-left: 0;
            border-radius: 0 0.25rem 0.25rem 0;
        }

            .input-group-append button:hover {
                background-color: gray;
            }


h2{
    margin-top: 5%;
    margin-bottom: 5%;
}            
</style>