@inject IHttpContextAccessor HttpContextAccessor
@{
    Layout = "~/Views/Shared/_UserNavbar.cshtml";
}

@{
    ViewData["Title"] = "Home Page";
    var username = HttpContextAccessor.HttpContext?.Session.GetString("Username");
    var token = HttpContextAccessor.HttpContext?.Session.GetString("Token");
}
<link rel="stylesheet" href="~/css/style.css" />



    <div >

        @if (!string.IsNullOrEmpty(username))
        {
            <h2>Bienvenue, @username !</h2>
        }
        
    </div>

    @* @if (ViewContext.HttpContext.Session.GetString("Token") != null) *@

    @* { *@
    @*     <form asp-controller="Auth" asp-action="logout" method="post"> *@
    @*         <button type="submit" class="btn btn-danger">Déconnexion</button> *@
           
    @*     </form> *@
       
    @* } *@

