

@{
    ViewData["Title"] = "Home Page";
    
}
<link rel="stylesheet" href="~/css/style.css" />



    <div >
    <h2> <a href="auth/Login">Bienvenue</a></h2>
        
        
    </div>

    @* @if (ViewContext.HttpContext.Session.GetString("Token") != null) *@

    @* { *@
    @*     <form asp-controller="Auth" asp-action="logout" method="post"> *@
    @*         <button type="submit" class="btn btn-danger">Déconnexion</button> *@
           
    @*     </form> *@
       
    @* } *@

