@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*
    @if (ViewContext.HttpContext.Session.GetString("Token") != null)

    {
        <form asp-controller="Auth" asp-action="Logout" method="post">
            <button type="submit" class="btn btn-danger">Déconnexion</button>
           
        </form>
        <form asp-controller="formations" asp-action="create" method="post">
            <button type="submit" class="btn btn-danger">Formation</button>

        </form>
    }
</div>
